@media (min-width: 405px) {
  .home {
    &_input {
      button {
        margin-right: 1em !important;
      }
    }
  }
}

.home {
  display: grid;
  grid-template-rows: 15em 1fr;
  height: 100%;

  &_input {
    background-color: var(--yellow);
    display: grid;
    margin-bottom: 3em;

    form {
      margin: auto;
      width: clamp(90%, 90%, 70em);

      input {
        border: 2px solid #fff;
        padding-right: 4.5em;
      }

      button {
        margin-right: 0;
      }
    }
  }

  &_translation {
    margin: auto;
    display: grid;
    height: 100%;
    width: clamp(20em, 60%, 90%);

    &_box {
      filter: drop-shadow(0 0 0.5em #00000077);
      background-color: #fff;
      max-width: 60em;
      border-radius: 1em;
      min-height: 70%;
      width: 100%;
      margin: auto;
      margin-top: 1em;
      display: grid;
      grid-template-rows: 4fr 1fr;

      output {
        // color: rgb(139, 115, 21);
        color: rgb(170, 129, 33);
        padding: 1em;
        font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
          "Lucida Sans Unicode", Geneva, Verdana, sans-serif;

        .sign_odd {
          background-color: #c9bae2;
          color: rgb(129, 123, 11);
        }

        .last-word {
          margin-right: 0.2em;
        }

        .end-char {
          width: 0.7em;
          text-align: center;
        }

        & > span {
          display: inline-block;
          font-size: 1.8em;
          border-radius: 0.1em;
          background-color: #e7def6;
          margin-right: 0.5em;
          margin-bottom: 0.8em;
          filter: drop-shadow(0 0 0.2em #00000077);

          img {
            max-width: 1em;
          }
        }
      }

      &-bottom {
        background-color: var(--purple);
        border-radius: 0 0 1em 1em;
        display: grid;
        margin-top: auto;
        min-height: 4em;

        button {
          margin: auto auto auto 1em;
          width: 10em;
          padding: 0.5em;
          border-radius: 0.7em;
          border: 0;
        }
      }
    }
  }
}
