@media (min-width: 405px) {
  .home {
    &_input {
      button {
        margin-right: 1em !important;
      }
    }
  }
}

.home {
  display: grid;
  grid-template-rows: 15em 1fr;
  height: 100%;
  background-color: var(--yellow);

  &_input {
    background-color: var(--yellow);
    display: grid;
    margin-bottom: 3em;

    form {
      margin: auto;
      width: clamp(90%, 90%, 70em);

      input {
        border: 2px solid var(--white);
      }

      button {
        margin-right: 0;
      }
    }
  }

  &_translation {
    margin: auto;
    display: grid;
    height: 100%;
    width: 100%;
    background-color: #fff;

    &_box {
      filter: drop-shadow(0 0 0.5em #00000077);
      background-color: var(--white);
      border-radius: 1em;
      margin: auto;
      margin-top: 1em;
      display: grid;
      grid-template-rows: 4fr 1fr;
      width: clamp(90%, 60%, 60em);
      max-width: 60em;
      grid-template-columns: minmax(0, 1fr);
      min-height: 12em;

      output {
        font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
          "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
        padding: 1em;

        .output_signs {
          font-size: 2.2em;
        }
      }

      &-bottom {
        background-color: var(--purple);
        border-radius: 0 0 1em 1em;
        display: grid;
        margin-top: auto;
        min-height: 1em;
      }
    }
  }
}
