.header {
  border-bottom: 2px solid #47414155;
  padding-block: 0.5em;
  background-color: var(--yellow);
  width: 100%;
  display: grid;

  &_nav {
    display: flex;
    height: 10vh;
    width: 100%;
    max-width: 50em;
    margin-inline: auto;

    &-left {
      display: flex;

      &:hover {
        .mascot_cloud {
          filter: drop-shadow(0 0 0.8em var(--purple));
        }

        .mascot_robot {
          filter: drop-shadow(0 0 0.8em var(--purple));
        }

        .header_title {
          text-shadow: 2px 2px 4px var(--purple);
        }
      }

      & > .mascot {
        height: 8vh;
        margin-block: auto;
        margin-left: 0.2em;
        cursor: pointer;
      }

      & > .header_title {
        background-color: var(--yellow);
        color: var(--white);
        text-align: left;
        max-width: 12em;
        font-size: 1.5em;
        font-weight: 500;
        margin-block: auto;
        margin-left: 5vw;
        border: 0;
        cursor: pointer;
      }
    }

    &-right {
      margin-left: auto;
      // padding-right: 3em;
      height: 100%;
      margin-right: 3em;
    }
  }
}

@media (min-width: 400px) {
  .header_nav-right {
    margin-right: 0 !important;
  }
}
@media (min-width: 600px) {
  .header_nav-right {
    margin-right: -2em !important;
  }
}

@media (min-width: 900px) {
  .header_nav-right {
    margin-right: -4em !important;
  }
}
