.profile {
  display: flex;
  flex-direction: column;
  height: 100%;

  &_upper {
    background-color: var(--yellow);
    height: 100%;
    display: grid;
    min-height: 18em;
    max-height: 25em;

    h1 {
      font-size: 3em;
      text-align: center;
      margin: auto;
    }

    p {
      font-size: 2.5em;
      text-align: center;
      margin: auto;
      line-height: 1.5em;
    }

    &_buttons {
      display: grid;
      width: clamp(1em, 60em, 95%);
      margin: auto;
      grid-template-columns: 1fr 1fr;

      button {
        margin: auto;
        width: 6em;
        height: 3em;
        font-size: 1.5em;
        text-transform: uppercase;
        font-weight: 600;
        border-radius: 1em;
        border: 0;
        color: var(--white);
        background-color: rgb(173, 105, 9);
        filter: drop-shadow(0 0 0.5em #00000044);
        cursor: pointer;

        &:hover {
          background-color: #845ec233;
          color: var(--purple);
          filter: drop-shadow(0 0 0.5em var(--purple));
        }
      }

      .profile_upper_buttons-signout {
        background-color: rgb(138, 45, 45);
      }
    }
  }

  &_translations {
    height: 100%;
    display: grid;

    &_list {
      overflow: scroll;
      filter: drop-shadow(0 0 0.5em #00000077);
      background-color: var(--white);
      width: clamp(20em, 60em, 90%);
      border-radius: 1em 1em 0 0;
      min-height: 70%;
      margin-inline: auto;
      margin-top: 1em;
      padding: 1em;

      li {
        margin-bottom: 1.5em;

        button {
          text-align: left;
          border: 0;
          background-color: #fff;
          font-size: 2em;
          color: var(--grey);

          &:hover {
            // background-color: red;
            background-color: #ffffff00;
            color: var(--purple);
            filter: drop-shadow(0 0 0.5em var(--purple));
          }
        }
      }
    }

    &_decoration {
      background-color: var(--purple);
      height: 1em;
      width: 100%;
      width: clamp(20em, 60em, 90%);
      padding-inline: 1em;
      margin-inline: auto;
      margin-bottom: auto;
      border-radius: 0 0 1em 1em;
      margin-bottom: auto;
    }
  }
}
