.mascot {
  aspect-ratio: 1;
  & > div {
    display: grid;
    aspect-ratio: 1;

    img {
      grid-row: 1;
      grid-column: 1;
    }

    .mascot_cloud {
      margin-inline: auto;
      width: 100%;
      margin-top: 16%;
    }

    .mascot_robot {
      z-index: 1;
      margin: auto auto 0 auto;
      width: 75%;
    }
  }
}
