.form_page-primary {
  height: 4em;
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  max-width: 60em;

  &:focus-within,
  &:hover {
    filter: drop-shadow(0 0 0.5em var(--purple));
  }

  & > div {
    height: 4em;
    grid-column: 1/2;
    grid-row: 1;
    z-index: 1;
    display: flex;
    gap: 0.5em;

    img {
      width: 2em;
      margin-block: auto;
      margin-left: 0.5em;
      border-right: 2px solid var(--purple);
      padding-inline: 0.5em;
    }
  }

  input {
    &:focus {
      outline: none !important;
    }
    height: 4em;
    grid-row: 1;
    font-size: 1em;
    border-radius: 3em;
    background-color: var(--light-grey);
    border: 2px solid var(--grey);
    grid-column: 1/4;
    padding-left: 4.5em;
    padding-right: 1.5em;
    color: rgb(56, 56, 56);
  }

  button {
    aspect-ratio: 1;
    border-radius: 50%;
    color: var(--purple);
    border: 0;
    grid-row: 1;
    grid-column: 3/4;
    height: 4em;
    margin-block: auto;
    margin-left: auto;
    margin-right: 1em;
    cursor: pointer;

    & > svg {
      border-radius: 50%;
      width: 100%;
      height: 100%;
    }
  }
}
