@import url(./css-reset.css);

@font-face {
  font-family: Sanchez;
  src: url("/public/fonts/Sanchez/Sanchez-Regular.ttf");
}

@font-face {
  font-family: LoveYaLikeASister;
  src: url("/public/fonts/LoveYaLikeASister/LoveYaLikeASister-Regular.ttf");
}

:root {
  --yellow: #ffc75f;
  --yellow-dark: #e7b355;
  --purple: #845ec2;
  --grey: #969696;
  --light-grey: #efefef;
  --white: #fff;

  height: 100%;
}

* {
  font-family: Sanchez;
}

html {
  height: 100%;
  /* background-color: #fff; */
}

body {
  background-color: bisque;
  color: var(--white);
  height: 100%;
}

#root {
  background-color: var(--yellow);
  height: 100%;
  width: 100%;
  max-width: 1850px;
  margin-inline: auto;
  font-size: 1em;
}

main {
  background-color: var(--white);
  height: 100%;
}

h1 {
  font-family: LoveYaLikeASister;
}
