body {
  display: grid;
  background-color: bisque;

  #root {
    height: 100vh;
    width: 100%;
    // max-width: 120em;
    max-width: 1850px;
    margin-inline: auto;

    // display: grid;
    // grid-template-rows: 10vh 1fr;
  }
}

main {
  background-color: #fff;
  height: 100%;
}
