.auth {
  display: grid;
  grid-template-rows: 7fr 1fr;
  height: 100%;

  form {
    display: grid;
    grid-template-rows: 4fr 1fr;

    fieldset {
      display: grid;
      // grid-template-rows: 2fr 1fr 1fr;

      legend {
        font-size: 2em;
        text-transform: uppercase;
        margin-inline: auto;
        margin-block: 1em;
      }

      input {
        display: block;
        font-size: 1.3em;
        width: 100%;
        // border: 0;
      }
    }

    button {
      background-color: antiquewhite;
    }
  }

  & > a {
    margin: auto;
    text-decoration: none;
    color: unset;

    &:visited {
      color: unset;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}
